.singleBlogContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 8%;
  margin-left: 25%;
  border: 2px solid rgba(220, 220, 220, 0.8);
  gap: 50px;
  border-radius: 30px;
}
.title {
  color: black;
  font-size: 1.8rem;
}
.author {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.body {
  color: black;
  font-size: 1.6rem;
}
.button {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 15px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  border-radius: 30px;
}
.button:hover {
  border: 1px solid rgba(220, 220, 220, 0.8);
  color: black;
  background-color: white;
}
